*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    width: 100%;
}

.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* header */
header{
    height: 150px;
    margin: 20px 0;
}

.logo-neori{
    width: 13em;
    padding: 10px;
    border-right: 1px solid #F1F1F1;
}

a{
    color: #B7B7B7;
    text-decoration: none;
    margin-right: 15px;
}

.links{
    margin-top: 30px;
}
/* header */

/* main */
/* jumbotron */
.jumbotron{
    height: 500px;
    margin: 20px 0;
    background-image: url(../img/banner.jpg);
    background-size: 100%;
    background-position:center;
    border-radius: 10px;
}

.black{
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.text-jumbotron{
    padding-top: 300px;
    padding-left: 40px;
    width: 60%;
    color: white;
}

.title-jumbotron{
    font-size: xx-large;
}
/* /jumbotron */

/* section leadership */
.leadership{
    height: 100%;
    padding-bottom: 20px;
}

.heading-leadership{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1{
    font-size: 2.5em;
}

.p-leadership{
    color: #B7B7B7;
}
/* /section leadership */

.col-left,
.col-centre,
.col-right{
    height: 500px;
    background-color: #ABCFE7;
    float: left;
}

.col-left,
.col-right{
    width: 25%;
}

.col-centre{
    width: 50%;
    border-left: 15px solid #0086FF;
    border-right: 15px solid #0086FF;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /section blue */
/* /main */

/* footer */
footer{
    height: 50px;
    margin: 10px 0;
    background-color: #8801FE;
}
/* /footer */ 
